# Git and environments
.git
.gitignore
myenv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebooks
.ipynb_checkpoints

# VS Code
.vscode/

# Build artifacts
build/
dist/
*.egg-info/

# Logs
logs/
*.log

# Other system files
.DS_Store
